# Statoil ship or iceberg notebook

Working on data subset to get used to how to manipulate this data

Instructions from: https://www.kaggle.com/timolee/fastai-kaggle-starter-kit/notebook

In [1]:
%matplotlib
from __future__ import division,print_function

import os, json
from glob import glob
import numpy as np
np.set_printoptions(precision=4, linewidth=100)
from matplotlib import pyplot as plt

Using matplotlib backend: MacOSX

In [2]:

import utils; reload(utils)
from utils import *

Using Theano backend.

In [3]:
DATA_HOME_DIR = "/Users/ilanrotenberg/projects/courses/deeplearning1/nbs/data/statoil/"

In [4]:
testJson = pd.read_json(DATA_HOME_DIR+'test.json')

In [5]:
trainJson = pd.read_json(DATA_HOME_DIR+'train.json')

In [7]:
testJson.head()

,band_1,band_2,id,inc_angle
0,"[-15.863251, -15.201077, -17.887735, -19.17248...","[-21.629612, -21.142353, -23.908337, -28.34524...",5941774d,34.966400
1,"[-26.0589694977, -26.0589694977, -26.058969497...","[-25.7542076111, -25.7542076111, -25.754207611...",4023181e,32.615072
2,"[-14.1410999298, -15.0642414093, -17.375520706...","[-14.745639801, -14.5904102325, -14.3626976013...",b20200e4,37.505433
3,"[-12.167478, -13.706167, -16.54837, -13.572674...","[-24.32222, -26.375538, -24.096739, -23.8769, ...",e7f018bb,34.473900
4,"[-23.3745937347, -26.0271816254, -28.121963501...","[-25.7223434448, -27.0115776062, -23.149162292...",4371c8c3,43.918874

In [8]:
trainJson.head()

,band_1,band_2,id,inc_angle,is_iceberg
0,"[-27.878361, -27.15416, -28.668615, -29.537971...","[-27.154118, -29.537888, -31.0306, -32.190483,...",dfd5f913,43.9239,0
1,"[-12.242375, -14.920305, -14.920363, -12.66633...","[-31.506321, -27.984554, -26.645678, -23.76760...",e25388fd,38.1562,0
2,"[-24.603676, -24.603714, -24.871029, -23.15277...","[-24.870956, -24.092632, -20.653963, -19.41104...",58b2aaa0,45.2859,1
3,"[-22.454607, -23.082819, -23.998013, -23.99805...","[-27.889421, -27.519794, -27.165262, -29.10350...",4cfc3a18,43.8306,0
4,"[-26.006956, -23.164886, -23.164886, -26.89116...","[-27.206915, -30.259186, -30.259186, -23.16495...",271f93f4,35.6256,0

In [6]:
trainJson.inc_angle = trainJson.inc_angle.apply(lambda x:np.nan if x =='na' else x)

In [7]:
trainJson.shape

(1604, 5)

In [7]:
icebergs = trainJson.loc[trainJson.is_iceberg == 1]
ships = trainJson.loc[trainJson.is_iceberg == 0]

In [9]:
icebergs.head()

,band_1,band_2,id,inc_angle,is_iceberg
2,"[-24.603676, -24.603714, -24.871029, -23.15277...","[-24.870956, -24.092632, -20.653963, -19.41104...",58b2aaa0,45.2859,1
5,"[-20.769371, -20.769434, -25.906025, -25.90602...","[-29.288746, -29.712593, -28.884804, -28.88480...",b51d18b5,36.9034,1
6,"[-26.673811, -23.666162, -27.622442, -28.31768...","[-24.557735, -26.97868, -27.622442, -29.073456...",31da1a04,34.4751,1
10,"[-21.397552, -19.753859, -23.426783, -24.65221...","[-26.72291, -27.418192, -27.787899, -25.774536...",3aac67cd,44.6240,1
12,"[-21.112206, -21.638832, -25.436468, -23.22255...","[-27.30481, -28.415203, -24.634125, -26.015789...",3c794f0c,41.8544,1

In [8]:
train_imgs = color_composite(trainJson)

In [10]:
iceberg_imgs = color_composite(icebergs)
ships_imgs = color_composite(ships)

In [9]:
test_imgs = color_composite(testJson)

In [12]:
%cd $DATA_HOME_DIR
%mkdir -p sample
%mkdir -p validate
%mkdir -p results
%mkdir -p test/unknown
%mkdir -p sample/test
%mkdir -p sample/test/unknown
%mkdir -p sample/train
%mkdir -p sample/validate
%mkdir -p sample/results
%mkdir -p sample/train/iceberg
%mkdir -p sample/train/ship
%mkdir -p sample/validate/iceberg
%mkdir -p sample/validate/ship

%mkdir -p validate/iceberg
%mkdir -p validate/ship

%mkdir -p train/iceberg
%mkdir -p train/ship

/Users/ilanrotenberg/projects/courses/deeplearning1/nbs/data/statoil

In [13]:
def vect2Matrix(vect):
    return np.reshape(np.array(vect),(75,75))

def saveMatrix(array, filename):
    matplotlib.image.imsave(filename, array)

In [50]:
a = icebergs.id[:1]+'.png'
matplotlib.image.imsave(DATA_HOME_DIR+'train/iceberg/' + icebergs.id[1] + '.png', x)

2    58b2aaa0.png
Name: id, dtype: object

In [52]:
%matplotlib

Using matplotlib backend: MacOSX

In [17]:
import matplotlib

In [31]:
icebergs['id']

2       58b2aaa0
5       b51d18b5
6       31da1a04
10      3aac67cd
12      3c794f0c
13      86730f0d
19      6d81d201
21      112a6cfa
23      bd1a1bdf
25      76b8d446
26      958d42a8
28      faf2c49e
32      83dd3a43
33      f193e8b0
34      132118fc
35      93a797d3
36      0a192892
38      4cfca6da
39      a65b9aff
40      af91525e
46      ade9a4ab
47      b7e6b182
49      2336fe9c
50      f6c43c24
51      c49bd5f2
53      6c905a48
54      a2a728d6
58      2d8ace41
60      08fb43c6
61      4d57fe03
          ...
1452    af23f247
1457    28612c22
1459    b8cf5edb
1460    3f6778c5
1471    1799793b
1472    bdf823e2
1473    be0aa969
1474    65951e77
1475    e8b76fb7
1476    ac6ca227
1477    a8104355
1478    e76a4a04
1479    502a8388
1481    ee49f0fb
1484    84673729
1486    574a1da7
1487    207b59dd
1489    7cf1ff70
1490    a8c38f58
1492    076a815e
1493    6a9478ad
1496    ec4952c3
1497    1c607692
1498    4cf47a74
1500    06b6ac23
1501    11d06927
1502    996ea0b1
1504    b2bc5d27
1506    95ed1e8c
1508    ce151e35
Name: id, Length: 753, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [14]:
iceberg_train, iceberg_test = train_test_split(icebergs.is_iceberg, test_size = 0.3)
iceberg_train_idx, iceberg_test_idx = iceberg_train.index, iceberg_test.index

ships_train, ships_test = train_test_split(ships.is_iceberg, test_size = 0.3)
ships_train_idx, ships_test_idx = ships_train.index, ships_test.index

In [17]:
iceberg_train_idx[:5]

Int64Index([498, 956, 1295, 268, 845], dtype='int64')

In [18]:
ships_train.id[0]

AttributeError: 'Series' object has no attribute 'id'

In [26]:
import matplotlib.pyplot as plt

for i in iceberg_train_idx:
    img = train_imgs[i]
    plt.imsave(DATA_HOME_DIR+'train/iceberg/' + str(i) + '.png',  img)
    
for i in iceberg_test_idx:
    img = train_imgs[i]
    plt.imsave(DATA_HOME_DIR+'validate/iceberg/' + str(i) + '.png',  img)
    
for i in ships_train_idx:
    img = train_imgs[i]
    plt.imsave(DATA_HOME_DIR+'train/ship/' + str(i) + '.png',  img)
    
for i in ships_test_idx:
    img = train_imgs[i]
    plt.imsave(DATA_HOME_DIR+'validate/ship/' + str(i) + '.png',  img)

In [20]:
len(iceberg_imgs)

753

In [68]:
for i in test_idx:
    img = train_imgs[i]
    plt.imsave(DATA_HOME_DIR+'validate/' + str(i) + '.png',  img)

In [27]:
 for i in range(len(test_imgs)):
    img = test_imgs[i]
    plt.imsave(DATA_HOME_DIR+'test/unknown/' + str(i) + '.png',  img)

IOError: [Errno 2] No such file or directory: '/Users/ilanrotenberg/projects/courses/deeplearning1/nbs/data/statoil/test/unknown/0.png'

In [73]:
icebergs= np.split(trainJson, np.where(np.diff(trainJson.is_iceberg))[0]+1)

In [11]:
import vgg16; reload(vgg16)
from vgg16 import Vgg16

In [15]:
vgg = Vgg16()
trainPath    = DATA_HOME_DIR + 'train/'
validatePath = DATA_HOME_DIR + 'validate/'

In [17]:
model_path = DATA_HOME_DIR + 'models/'
model_path_create = model_path[:(len(model_path)-1)]
%cd $DATA_HOME_DIR
%mkdir -p sample/models

/Users/ilanrotenberg/projects/courses/deeplearning1/nbs/data/statoil

In [18]:
model = vgg.model

In [19]:
import os

In [20]:
train_batches = get_batches(trainPath, shuffle=False, batch_size = 1)
validate_batches = get_batches(validatePath, shuffle=False,batch_size =1)

Found 1122 images belonging to 2 classes.
Found 482 images belonging to 2 classes.